*~
*.swp
*.o
*.d
cscope.out
.vscode-ctags
*.tar.gz

# Yocto build artifacts
build/
downloads/
sstate-cache/
*.efi
*.img

# Upstream layers fetched by kas
poky/
meta-openembedded/
meta-intel/

# local build log
kas-build.log
kas-parse.log
kas-graph.log
